/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto.woff2') format('woff2'),
			 url('../fonts/roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary, li.sort, details label, details input {
	cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* startje */
    --color-text: #000000;
    --color-background: #FFFFFF;
    --color-border: #000000;
    --color-cartborder: #004EFF;
    --color-carttext: #FFFFFF;
    --color-button: #FFFFFF;
    --color-buttonbg: #004EFF;
    --color-headerp: #004EFF;
    --color-textalt: #004EFF;
    --color-brand: #004EFF;
  }

  button img {
    filter: invert(1);
  }

  img.add-wishlist:hover {
    filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(3721%) hue-rotate(223deg) brightness(100%) contrast(108%);
  }

  img.add-wishlist:active {
    filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(3721%) hue-rotate(223deg) brightness(100%) contrast(108%);
    animation: hearticon 2s;
  }
  
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
			--color-text: #FFFFFF;
			--color-background: #000000;
      --color-border: #FFFFFF;
      --color-cartborder: #E0A000;
      --color-carttext: #000000;
      --color-button: #000000;
      --color-buttonbg: #E0A000;
      --color-headerp: #E0A000;
      --color-textalt: #E0A000;
      --color-brand: #E0A000;
	}

  header nav li img {
    filter: invert(1);
  }

  header button img {
    filter: invert(1);
  }

  /* Wishlist */
  img.add-wishlist:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(6484%) hue-rotate(12deg) brightness(101%) contrast(104%);
  }

  img.add-wishlist:active {
    filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(6484%) hue-rotate(12deg) brightness(101%) contrast(104%);
    animation: hearticon 2s;
  }
}




/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: roboto, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
  margin-right: 1em;
  margin-left: 1em;
}

/* header */
header p {
	text-align: center;
	background-color: var(--color-headerp);
	position: absolute;
	color: var(--color-carttext);
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	padding: .2em;
}

header ul {
	display: flex;
	padding-left: 0;
	justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

header nav ul:first-of-type {
  margin-bottom: 0;
}

header ul li {
	list-style-type: none;
	margin: .5em;
}

button {
  border: 2px var(--color-border) solid;
  border-radius: 15px;
  background: none;
  color: var(--color-text);
  text-transform: uppercase;
}



header ul:nth-of-type(2) {
  position: absolute;
  width: 90%;
  z-index: 100;
  margin: 0;
  left: -100%;
  list-style-type: none;
  background-color: var(--color-text);
  display: block;
}

header ul:nth-of-type(2) li {
  margin: 1em;
}


.toonMenu .standard-menu {
  left: 0;
  top: 0;
  background-color: var(--color-background);
  height: 100%;
}

.toonMenu ul li:nth-of-type(5) {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1em;
}






/* main */

main {
	justify-content: center;
	display: grid;
  text-transform: uppercase;
}

main h1 {
	text-align: center;
}

main h4 {
  color: var(--color-brand);
}

main button {
	display: flex;
	margin: auto;
  text-align: center;
  align-items: center;
  padding: 0 5em 0 5em;
  background-color: var(--color-buttonbg);
  color: var(--color-button);
}

.add-cart {
  padding: 3vw 5vw 3vw 5vw;
  position: absolute;
  background-color: var(--color-buttonbg);
  color: var(--color-button);
  border: none;
  margin-top: -13%;
  margin-left: 27%;
}

main ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding-left: 0;
}

main ul li {
	list-style-type: none;
}

main ul li img {
	max-width: 100%;
}

main form:nth-of-type(1) {
  border: 1px var(--color-border) solid;
  position: relative;
  background-color: var(--color-background);
}

main form:nth-of-type(1) {
  position: absolute;
  width: 90%;
  z-index: 100;
  margin: 0;
  left: -100%;
  list-style-type: none;
  background-color: var(--color-background);
  display: block;
}


/**********/
/* FILTER */
/**********/

.toonFilter .showFilter {
  left: 5%;
  top: 30%;
  background-color: var(--color-background);
}


.toonFilter .search {
    text-align: center;
    width: 60%;
    height: 2.5em;
    margin: 1em 20% 1em 20%;
    border: var(--color-border) solid 2px;
}


.toonFilter #sortButtons {
  display: flex;
  margin: 0;
}

.toonFilter #sortButtons li {
  text-align: center;
  padding: auto;
  width: 25%;
}

.toonFilter li.sort {
  padding: .2em;
  text-align: center;
}

.toonFilter .sort {
  border: solid var(--color-border) 2px;
  margin: 1em;
  color: var(--color-text);
  text-decoration: none;
  height:30px;
  width: 35%;
  text-align: center;
}

.toonFilter .sort:hover {
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--color-text);
}

.toonFilter .sort:focus {
  outline:none;
}

.toonFilter .sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.toonFilter .sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-border);
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}

.toonFilter .sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-border);
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.showItem {
  display: list-item;
}
.hideItem {
  display: none;
}

main form summary {
  margin: .5em;
  padding: .5em;
  border-bottom: 1px var(--color-border) solid;
  text-transform: capitalize;
}

#productlist li button img {
  padding: auto;
}

button#saveFilter {
  padding: 3vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-border);
  margin: 5vw;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: .8em;
  height: .8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-cartborder);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.filter-checkboxes {
  display: flex;
  align-items: center;
}





/***************************/
/* SHOPPING CART + WISHLIST*/
/***************************/

#cart-icon,
#wishlist-icon {
  cursor: pointer;
}

/* Cart */
.cart,
.wishlist {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--color-background);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 100;
}

.cart.active,
.wishlist.active {
  right: 0;
}

.cart-title,
.wishlist-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box, 
.wishlist-box {
  display: grid;
  grid-template-columns: 32% 35% 23%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img,
.wishlist-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title,
.wishlist-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price,
.wishlist-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid var(--color-cartborder);
  outline-color: var(--color-cartborder);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove,
.wishlist-remove {
  color: var(--color-cartborder);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-text);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--color-cartborder);
  color: var(--color-background);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background: var(--color-text);
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}

#close-wishlist {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--color-cartborder);
  color: var(--color-background);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}




/**********/
/* STATES */
/**********/

/* Buttons */
header nav ul li:hover {
  border-bottom: var(--color-border) solid 1px;
  outline: none;
}

button:focus-visible {
  border: var(--color-border) 5px solid;
}

/* Filter-button */
main button:hover {
  background-color: var(--color-border);
  color: var(--color-button);
}

main button:focus-visible {
  color: var(--color-button);
  border: var(--color-border) solid 5px;
  outline: none;
}



/* Add-cart */
button.add-cart:hover {
  background-color: var(--color-background);
  color: var(--color-textalt);
  border: var(--color-buttonbg) solid 2px;
}

button.add-cart:active {
  background-color: var(--color-background);
  color: var(--color-textalt);
  border: var(--color-buttonbg) solid 1px;
  box-shadow: var(--color-buttonbg) 1px 3px;
  outline: none;
}

button.add-cart:focus-visible {
  background-color: var(--color-background);
  border: var(--color-text) solid 3px;
  color: var(--color-textalt);
  outline: none;
}


/* Wishlist icon */
img.add-wishlist:focus-visible {
  border: var(--color-border) solid 3px;
  outline: none;
}


@keyframes hearticon {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.5);}
  100% {transform: scale(1);}
}



#close-wishlist:hover {
  background: var(--color-text);
}

#productList li:first-of-type div img:last-child,
#productList li:nth-of-type(2) div img:last-child,
#productList li:nth-of-type(3) div img:last-child,
#productList li:nth-of-type(4) div img:last-child,
#productList li:nth-of-type(5) div img:last-child,
#productList li:nth-of-type(6) div img:last-child,
#productList li:nth-of-type(7) div img:last-child,
#productList li:nth-of-type(8) div img:last-child,
#productList li:nth-of-type(9) div img:last-child,
#productList li:nth-of-type(10) div img:last-child {
  display:none
}

#productList li:first-of-type div:hover img:first-child,
#productList li:nth-of-type(2) div:hover img:first-child,
#productList li:nth-of-type(3) div:hover img:first-child,
#productList li:nth-of-type(4) div:hover img:first-child,
#productList li:nth-of-type(5) div:hover img:first-child,
#productList li:nth-of-type(6) div:hover img:first-child,
#productList li:nth-of-type(7) div:hover img:first-child,
#productList li:nth-of-type(8) div:hover img:first-child,
#productList li:nth-of-type(9) div:hover img:first-child,
#productList li:nth-of-type(10) div:hover img:first-child { 
  display:none
}

#productList li:first-of-type div:hover img:last-child, 
#productList li:nth-of-type(2) div:hover img:last-child,
#productList li:nth-of-type(3) div:hover img:last-child,
#productList li:nth-of-type(4) div:hover img:last-child,
#productList li:nth-of-type(5) div:hover img:last-child,
#productList li:nth-of-type(6) div:hover img:last-child,
#productList li:nth-of-type(7) div:hover img:last-child,
#productList li:nth-of-type(8) div:hover img:last-child,
#productList li:nth-of-type(9) div:hover img:last-child,
#productList li:nth-of-type(10) div:hover img:last-child {
  display:inline-block
}




/**************/
/* Responsive */
/**************/

@media screen and (min-width: 700px) {
  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .add-cart {
    margin-top: -10%;
    margin-left: 15%;
    padding: 2vw 4vw 2vw 4vw;
  }
}

@media screen and (min-width: 1000px) {
  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin-left: 27%;
  }
  .add-cart {
    margin-top: -7%;
    margin-left: 15%;
    padding: 1.5vw 2vw 1.5vw 2vw;
  }

  main form:nth-of-type(1) {
    position: absolute;
    z-index: 100;
    margin: 0;
    left: -100%;
    width: 25%;
    list-style-type: none;
    background-color: var(--color-background);
    display: block;
  }

  .toonFilter .showFilter {
    left: 1%;
    top: 33%;
  }

  .toonFilter .sort {
    margin: .5em;
  }

  .toonFilter li.sort {
    justify-content: center;
  }

  .toonFilter #sortButtons li {
    width: 35%;
  }

  input[type="checkbox"] {
    margin: 1vw;
  }

  button#saveFilter {
    padding: 1vw;
  }

  .filterbutton {
    position: absolute;
    left: 3%;
    top: 22%;
  }
}

@media screen and (min-width: 1300px) {
  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin-left: 27%;
  }
  .add-cart {
    margin-top: -5%;
    margin-left: 10%;
    padding: 1vw 1.5vw 1vw 1.5vw;
  }

  main form:nth-of-type(1) {
    position: absolute;
    z-index: 100;
    margin: 0;
    left: -100%;
    width: 25%;
    list-style-type: none;
    background-color: var(--color-background);
    display: block;
  }

  .toonFilter .showFilter {
    left: 1%;
    top: 33%;
  }

  .toonFilter #sortButtons li {
    width: 35%;
  }

  .filterbutton {
    position: absolute;
    left: 4%;
    top: 22%;
  }

  .toonFilter #sortButtons {
    margin-left: 3em;
  }
}

@media screen and (min-width: 1600px) {
  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    margin-left: 27%;
  }

  .add-cart {
    margin-top: -4%;
    margin-left: 8%;
    padding: 1vw 1vw 1vw 1vw;
  }

  main form:nth-of-type(1) {
    position: absolute;
    z-index: 100;
    margin: 0;
    left: -100%;
    width: 25%;
    list-style-type: none;
    background-color: var(--color-background);
    display: block;
  }

  .toonFilter .showFilter {
    left: 1%;
    top: 33%;
  }

  .filterbutton {
    position: absolute;
    left: 6%;
    top: 22%;
  }

  .toonFilter #sortButtons {
    margin-left: 4em;
  }
}