/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto.woff2') format('woff2'),
			 url('../fonts/roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Light mode */
:root {
	/* startje */
	--color-text: #000000;
	--color-background: #FFFFFF;
  --color-border: #000000;
  --color-cartborder: blue;
  --color-carttext: #FFFFFF;
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
			--color-text: #FFFFFF;
			--color-background: #000000;
      --color-border: #FFFFFF;
      --color-cartborder: orange;
      --color-carttext: #000000;
	}
  header nav li img {
    filter: invert(1);
  }

  button img {
    filter: invert(1);
  }
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: roboto, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
  margin-right: 1em;
  margin-left: 1em;
}

/* header */
header p {
	text-align: center;
	background-color: blue;
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	padding: .2em;
}

header ul {
	display: flex;
	padding-left: 0;
	justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

header nav ul:first-of-type {
  margin-bottom: 0;
}

header ul li {
	list-style-type: none;
	margin: .5em;
}

button {
  border: 2px var(--color-border) solid;
  border-radius: 15px;
  background: none;
  color: var(--color-text);
  text-transform: uppercase;
}



header ul:nth-of-type(2) {
  position: absolute;
  width: 90%;
  z-index: 100;
  margin: 0;
  left: -100%;
  list-style-type: none;
  background-color: var(--color-text);
  display: block;
}

header ul:nth-of-type(2) li {
  margin: 1em;
}


.toonMenu .standard-menu {
  left: 0;
  top: 0;
  background-color: var(--color-background);
  height: 100%;
}

.toonMenu ul li:nth-of-type(5) {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1em;
}






/* main */

main {
	justify-content: center;
	display: grid;
  text-transform: uppercase;
}

main h1 {
	text-align: center;
}

main button:first-of-type {
	display: flex;
	justify-content: center;
	margin: auto;
  text-align: center;
  align-items: center;
  padding: 0 5em 0 5em;
}



main ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding-left: 0;
}

main ul li {
	list-style-type: none;
}

main ul li img {
	max-width: 100%;
}

/* main ul li img:first-child {
	position: absolute;
} */

/* #productList li img:first-of-type {
	position: absolute;
} */


main form:nth-of-type(1) {
  border: 1px var(--color-border) solid;
  position: relative;
  background-color: var(--color-background);
}

main form:nth-of-type(1) {
  position: absolute;
  width: 90%;
  z-index: 100;
  margin: 0;
  left: -100%;
  list-style-type: none;
  background-color: var(--color-background);
  display: block;
}


.toonFilter .showFilter {
  left: 5%;
  top: 30%;
  background-color: var(--color-background);
  height: 50%;
}


.toonFilter .search {
    text-align: center;
    width: 60%;
    height: 2.5em;
    margin: 1em 20% 1em 20%;
    border: var(--color-border) solid 2px;
}


.toonFilter #sortButtons {
  display: flex;
  margin: 0 0 0 0;
}

.toonFilter #sortButtons li {
  text-align: center;
  padding: auto;
  width: 25%;
}

.toonFilter li.sort {
  padding: .2em;
  text-align: center;
}

/* .list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
} */

.toonFilter .sort {
  border: solid var(--color-border) 2px;
  margin: 1em;
  color: var(--color-text);
  text-decoration: none;
  height:30px;
  width: 35%;
  text-align: center;
}
.toonFilter .sort:hover {
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--color-text);
}
.toonFilter .sort:focus {
  outline:none;
}
.toonFilter .sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.toonFilter .sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-border);
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}

.toonFilter .sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-border);
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}



.showItem {
  display: list-item;
}
.hideItem {
  display: none;
}


main form summary {
  margin: .5em;
  padding: .5em;
  border-bottom: 1px var(--color-border) solid;
  text-transform: capitalize;
}

#productlist li button img {
  padding: auto;
}



/* ul.stoneisland li:not(.stoneisland) {
  display:none;
}

ul.cpcompany li:not(.cpcompany) {
  display:none;
}

ul.acoldwall li:not(.acoldwall) {
  display:none;
}

ul.black li:not(.black) {
  display:none;
}

ul.grey li:not(.grey) {
  display:none;
}

ul.white li:not(.white) {
  display:none;
}

ul.orange li:not(.orange) {
  display:none;
}

ul.pink li:not(.pink) {
  display:none;
} */



/* ul.stoneisland li:not(.stoneisland),
ul.cpcompany li:not(.cpcompany),
ul.acoldwall li:not(.acoldwall),
ul.black li:not(.black),
ul.grey li:not(.grey),
ul.white li:not(.white),
ul.orange li:not(.orange),
ul.pink li:not(.pink) {
  display:none;
} */

form input[type=checkbox] {
  display: none;
}

form input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #b3b3b3;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  color: transparent;
  transition: .1s;

}

form input[type=checkbox] + label:active:before {
  transform: scale(0.5s);
}

form input[type=checkbox]:checked + label:before {
  background-color: red;
  border-color: red;
  color: black;
}






/*****************/
/* SHOPPING CART */
/*****************/

#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}
/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--color-background);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 100;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid var(--color-cartborder);
  outline-color: var(--color-cartborder);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: var(--color-cartborder);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-text);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--color-cartborder);
  color: var(--color-background);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background: var(--color-text);
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}




/*****************/
/* SHOPPING CART */
/*****************/

#wishlist-icon {
  cursor: pointer;
}

/* Cart */
.wishlist {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--color-background);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 100;
}

.wishlist.active {
  right: 0;
}

.wishlist-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.wishlist-box {
  display: grid;
  grid-template-columns: 32% 40% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.wishlist-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.wishlist-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.wishlist-price {
  font-weight: 500;
}

.wishlist-quantity {
  border: 1px solid var(--color-cartborder);
  outline-color: var(--color-cartborder);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.wishlist-remove {
  font-size: 24px;
  color: var(--color-cartborder);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-text);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

#close-wishlist {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--color-cartborder);
  color: var(--color-background);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#close-wishlist:hover {
  background: var(--color-text);
}

/* #close-wishlist {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
} */









/* states */


/* .artikel1zoom:hover {
  background-image: url('images/acoldwall-logotee-grey.jpeg') no-repeat;
  cursor: pointer;
} */

/* #productList li:first-of-type img.product-img {
  position: relative;
  display: inline-block;
}

#productList li:first-of-type img.product-img:hover {
  display: inline;
} */

/* #productList li:first-of-type figure img {
  max-width: 100%;
} */

#productList li:first-of-type div img:last-child {display:none}
#productList li:first-of-type div:hover img:first-child{display:none}
#productList li:first-of-type div:hover img:last-child{display:inline-block}

#productList li:nth-of-type(1) form{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  height: 5vw;
  width: 5vw;
  background-color: grey;
  position: absolute;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
  margin-top: 5%;
  margin-left: 35%;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  background-color: grey;
  height: 61%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  background-color: grey;
  height: 60%;
  width: 100%;
  top: 20%;
  right: 78%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]::before,
input:checked[type="checkbox"]::after {
  background-color: red;
}
