/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'xbox';
	src: url('../fonts/xbox.woff') format('woff');
	src: url('../fonts/xbox.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;

}



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/



/* Light mode */
:root {
	--body-bg: #FFFFFF;
	--body-color: #000000;
	--xbox-xcolor: #107C10;
	--h1-border: #000000;
	--span-textshadow: #49ff18;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
			--body-bg: #000000;
			--body-color: #FFFFFF;
			--xbox-xcolor: #107C10;
			--h1-border: #FFFFFF;
			--span-textshadow: #49ff18;
			--slate-gray: #3A3A3A;
	}
}




/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:X360, sans-serif;
  color:var(--color-text);
  background-color: var(--body-bg);
	/* background-color: black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
	position: relative;
}


h1 {
	display: block;
	width: 16em;
  height: 16em;
	padding: .2em;
	background: var(--body-bg);
	border: var(--h1-border) 4px solid;
	position: relative;
	text-align: center;
	transition: 2s;
	animation: borderh1 5s;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

span:first-of-type::before {
	content: "x";
	top: -.5em;
	left: .03em;
	font-size: 5em;
	font-family: xbox;
	position: absolute;
	color: var(--body-color);
	display: flex;
  flex-direction: column;
	text-transform: uppercase;
	animation: eersteX 1s linear 1;
	animation-fill-mode: forwards;
	
}

span:first-of-type {
	color: var(--xbox-xcolor);
	font-family: xbox;
	position: absolute;
	top: 1.8em;
	left: .7em;
	font-size: 3em;
	text-transform: uppercase;
	animation: xboxNaam 8s ease-out 1;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@media (prefers-reduced-motion:no-preference) {
  body:hover span:first-of-type {
    animation-play-state:running;
  }  

	body:hover span:nth-of-type(2) {
    animation-play-state:running;
  } 

	body:hover span:nth-of-type(3) {
    animation-play-state:running;
  } 

	body:hover span:nth-of-type(4) {
    animation-play-state:running;
  } 

	body:hover h1 {
		animation-play-state:running;
	}

	body:hover h1::before {
		animation-play-state:running;
	}

	body:hover h1::after {
		animation-play-state:running;
	}
}




span:nth-of-type(2) {
	color: var(--xbox-xcolor);
	font-family: xbox;
	position: absolute;
	top: 1.8em;
	left: 1.7em;
	font-size: 3em;
	text-transform: uppercase;
	animation: xboxNaam 8s ease-out 1;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}


/* span:nth-of-type(2)::before {
	content: "";
	width: 250px;
	height: 250px;
	position: absolute;
	background: #107C10;
	top: 10em;
	left: 10em;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	clip-path: polygon(30% 10%, 17% 17%, 37% 41%, 12% 83%, 19% 87%, 51% 53%, 85% 82%, 95% 75%, 63% 44%, 88% 17%, 76% 9%, 50% 28%);
	border-radius: 50%;
} */

span:nth-of-type(3) {
	color: var(--xbox-xcolor);
	font-family: xbox;
	position: absolute;
	top: 1.8em;
	left: 2.7em;
	font-size: 3em;
	text-transform: uppercase;
	animation: xboxNaam 8s ease-out 1;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}


/* span:nth-of-type(3)::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 1em;
	left: 5em;
	border-top: 30px solid #107c10;
}

span:nth-of-type(3)::after {
	content: "";
	position: absolute;
	width: 250px;
	height: 300px;
	top: 12em;
	border-radius: 50%;
	left: 3em;
	border-top: 100px solid #107c10;
} */


span:nth-of-type(4) {
	color: var(--xbox-xcolor);
	font-family: xbox;
	position: absolute;
	top: 1.8em;
	left: 3.7em;
	font-size: 3em;
	text-transform: uppercase;
	animation: xboxNaam 8s ease-out 1;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}


h1::after {
	content: "";
	position: absolute;
	width: 12em;
	height: 6em;
	/* width: 400px;
	height: 205px; */
	border-radius: 50%;
	top: 5em;
	left: 1.5em;
	/* top: 165px;
	left: 70px; */
	border-top: .5em solid #107c10;
	transform: rotate(-42deg);
	transition-delay: 5s;
	animation: xboxLogo 5s;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

h1::before {
	content: "";
	position: absolute;
	width: 12em;
	height: 6em;
	/* width: 367px;
	height: 200px; */
	border-radius: 50%;
	top: 5em;
	left: 1.8em;
	/* top: 165px;
	left: 50px; */
	border-top: .5em solid #107c10;
	animation: xboxLogo 5s;
	animation-play-state: paused;
	transform: rotate(42deg);
	transition-delay: 5s;
	animation-fill-mode: forwards;
}


@keyframes xboxLogo { 
  0% {
    opacity: 0;
  }

	25% {
		transform: rotate(360deg);
	}

	50% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
		transform: rotate(0deg);
  }

	60% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }

	70% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
  }

	80% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }

	85% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
  }

	90% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }

	91% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }

	92% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
  }

	93% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }

	94% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
  }

	95% {
    opacity: 1;
		border-top: 1.9em solid var(--body-bg);
  }

	100% {
    opacity: 1;
		border-top: 1.9em solid var(--body-color);
  }
}


@keyframes eersteX { 
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes xboxNaam { 
	

	48% {
		opacity: 0;
	}
	
	50% {
		transform: translateY(4em);
		opacity: 0;
	}

	60% {
    opacity: 0;
  }

	65% {
    opacity: 1;
  }

	70% {
    opacity: 0;
  }

	75% {
    opacity: 1;
  }

	80% {
    opacity: 0;
  }

	85% {
    opacity: 1;
		text-shadow: 0 0 20px var(--span-textshadow), 0 0 30px var(--span-textshadow), 0 0 40px var(--span-textshadow), 0 0 55px var(--span-textshadow), 0 0 75px var(--span-textshadow), 2px 2px 2px rgba(206,89,55,0);
  }

	90% {
    opacity: 0;
  }

	95% {
    opacity: 1;
		text-shadow: 0 0 20px var(--span-textshadow), 0 0 30px var(--span-textshadow), 0 0 40px var(--span-textshadow), 0 0 55px var(--span-textshadow), 0 0 75px var(--span-textshadow), 2px 2px 2px rgba(206,89,55,0);
  }

	100% {
    color: var(--body-color);
		font-weight: bold;
		opacity: 1;
		transform: translateY(3.5em);

		/* font-size: 125%; */
  }
}


@keyframes borderh1 {
	80% {
		border: var(--h1-border) 4px solid;
		border-radius:50%;
	}
	
	90% {
		border: none;
	}

	100% {
		background: var(--slate-gray);
		width: 15em;
		height: 15em;
		transform: rotate(360deg) scale(.8);
		border-radius: 50%;
		border: none;
		box-shadow: 0 0 60px 30px var(--span-textshadow);
	}
}


/* @keyframes h1before { 
  0% {
		top: 165px;
		left: 0px;
  }

	50% {
		transform: rotate(360deg);
  }

  100% {
    top: 165px;
		left: 50px;
  }
} */

/* h1:hover {
  border-radius:50%;
	transform: rotate(360deg) scale(.8);
} */




/* span:first-of-type::before {
content: "";
width:10em;
aspect-ratio:1/1;
background-color:white;
background-image:
radial-gradient(at -100% 100%, transparent 70.6%, green 70.7%),
radial-gradient(at 200% 100%, transparent 70.6%, green 70.7%);
background-size:100% 100%;
background-position:-5em 2em, 5em 2em;
background-repeat:no-repeat;
border-radius:50%;
} */

/* span:first-of-type::after {
	content: "";
	width:10em;
	aspect-ratio:1/1;
	background-color:white;
	background-image:
	radial-gradient(at -100% 100%, transparent 70.6%, green 70.7%),
	radial-gradient(at 200% 100%, transparent 70.6%, green 70.7%),
	radial-gradient(at 300% 150%, transparent 70.6%, green 70.7%);
	background-size:100% 100%;
	background-position:-5em 2em, 5em 2em;
	background-repeat:no-repeat;
	border-radius:50%;
	} */



 /* span {
	width: 10em;
	aspect-ratio: 1/1;
	background-color: gold;

	background-image: 
		radial-gradient(at -100% 100%, transparent 70.6%, green 70.7%)
		radial-gradient(at 200% 100%, transparent 70.6%, green 70.7%);
} */



/* h1::after {
	content: "";
	position: absolute;
	width: 320px;
	height: 250px;
	border-radius: 50%;
	top: 34px;
	left: 21px;
	border-top: 61px solid #107c10;
	transform: rotate(-42deg);
}

h1::before {
	content: "";
	position: absolute;
	width: 320px;
	height: 250px;
	border-radius: 50%;
	top: 44px;
	left: -30px;
	border-top: 61px solid #107c10;
	transform: rotate(48deg);
} */

